body {
    font-family: Arial, sans-serif;
    margin: 20px; 
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#bg {
    background-image: url(BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label {
    display: block;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d4242f;
    padding: 15px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.hero h3 {
    font-size: 1.5em;
    color: #555;
}


footer {
    text-align: center;
    background-color: #160202;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


input, select, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

